streamlit
langchain
langchain-core
langchain-community
python-dotenv
langserve
fastapi
uvicorn
sse_starlette
bs4
pypdf
chromadb
faiss-cpu
arxiv
wikipedia
groq
beautifulsoup4
langchain-groq
sentence_transformer
langchain_huggingface